*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f1f5f9;
  /* TODO: font */
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

li {
  list-style: none;
}

@media screen and (min-width: 636px) {
}

