*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  /* TODO: font */
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 100%; */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

:root {
  --main-width: 72rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}
