*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";

  /* TODO: font */
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 100%; */
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

:root {
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;

  --main-width: 72rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

li {
  list-style: none;
}

.title {
  margin-top: 1rem;
  display: flex;
}

@media screen and (min-width: 640px) {
  .title {
    align-items: center;
    justify-content: center;
  }
}

.hero {
  margin-bottom: 5rem;
}

.main {
  flex: 1;
  max-width: var(--main-width);
  margin: 0 auto;
}
