/* body {
  padding: 0 1rem;
} */

.md-post {
  overflow-wrap: break-word;
}

.md-post a {
  color: #00539f;
}

.md-post ul {
  line-height: 1.65;
  margin-bottom: 2rem;
}

.md-post > ul > li {
  margin-bottom: 2rem;
}

.md-post li {
  list-style: none;
}

.md-post h2 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.md-post h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 多段にするにはこれでいい */
.md-post ul ul {
  margin-bottom: 0;
  margin-left: 1.25rem;
}
