/* body {
  padding: 0 1rem;
} */

.md-post {
  overflow-wrap: break-word;
}

.md-post a {
  color: #00539f;
}

.md-post ul {
  line-height: 1.65;
  margin-bottom: 2rem;
  margin-left: 1.25rem;
}

.md-post li {
  list-style: none;
}

.md-post ul li {
  position: relative;
}

.md-post ul li::before {
  content: "-";
  left: -1rem;
  position: absolute;
}

.md-post h2 {
  font-size: 1.75rem;
  font-weight: 900;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1rem;
}

.md-post h2::before {
  content: "";
  width: 0.5rem;
  height: 2rem;
  background-image: linear-gradient(45deg, #ec4899, #3b82f6);
  position: absolute;
  top: 0;
  left: -0.25rem;
}

.md-post h3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 多段にするにはこれでいい */
.md-post ul ul {
  margin-bottom: 0;
  margin-left: 1.25rem;
}

.md-post pre {
  padding: 1rem;
  margin-bottom: 2rem;
}

.md-post li code {
  background-color: rgb(229 229 229);
  padding: 0.25rem;
  border-radius: 4px;
}
