---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-4xl font-extrabold">
    404 - 残念ながらページが見つからないようです
  </h1>
  <a href="/" class="text-3xl">← Homeへ戻る</a>
</BaseLayout>
