---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { format } from "date-fns";
const allPosts = await getCollection("posts");

const publicPosts = allPosts.filter((post) => {
  return !(post.data.isDraft && import.meta.env.PROD);
});

const user = "zcip";

const tags = ["React", "Next.js"];
---

<BaseLayout>
  <div class="mb-8">
    私、{user} が興味を持ったWeb フロントエンド全般の読んだ記事について個人的にまとめるサイト。
    <ul>
      {tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </div>
  <ul class="flex flex-col gap-4">
    {
      publicPosts.map((post) => (
        <li class="post">
          <a href={`/posts/${post.slug}`}>
            <span class="text-2xl">
              {format(post.data.pubDate, "Y/M/dd") + post.data.title}
            </span>
          </a>
          <div class="py-5">{post.data.description}</div>
        </li>
      ))
    }
  </ul>
</BaseLayout>
