---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getPublishedPosts } from "../lib/getPublishedPosts";
import Tag from "../components/Tag.astro";
import { getSortedUniqTag } from "../lib/getSortedUniqTag";
import PostCard from "../components/PostCard.astro";

const publicPosts = await getPublishedPosts();
const tags = getSortedUniqTag(publicPosts);

const user = "zcip";
---

<BaseLayout>
  <section class="px-2 py-4">
    <ul class="flex flex-col gap-4">
      {publicPosts.map((post) => <PostCard post={post} />)}
    </ul>
  </section>
  <aside
    class="bg-neutral-100 p-12 rounded-lg border-transparent border shadow-lg"
  >
    <p class="pb-8 text-neutral-950">
      {user} が興味を持ったWeb全般の読んだ記事について個人的にまとめています
    </p>
    <ul class="flex gap-1 flex-wrap">
      {tags.map((tag) => <Tag tag={tag} />)}
    </ul>
  </aside>
</BaseLayout>
