---
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <a href="https://twitter.com/zcip">Twitter</a>
  <a href="https://github.com/zcip">GitHub</a>
</footer>
