---
import TitleIcon from "./TitleIcon.astro";
---

<style>
  .footer-links a {
    transition: 0.15s color cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>

<footer class="min-h-[10vw]">
  <div class="max-w-4xl mx-auto py-4">
    <div class="grid sm:grid-cols-12 gap-8 border-t border-neutral-200 py-8">
      <div class="sm:col-span-12 md:col-span-6">
        <a href="/">
          <TitleIcon scale={2} />
        </a>
      </div>
      <div class="footer-links sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p class="mb-2 font-medium text-neutral-600">Links</p>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900"
              href="https://twitter.com/zcip">Twitter</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900"
              href="https://github.com/zcip">GitHub</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-links sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p class="mb-2 font-medium text-neutral-600">Meta</p>
        <ul class="text-sm">
          <li class="mb-2">
            <a class="text-neutral-600 hover:text-neutral-900" href="/rss.xml"
              >RSS</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="py-4 border-t border-neutral-200 md:flex md:items-center md:justify-between md:py-8"
    >
      <div class="text-sm text-neutral-600 ml-4">
        © 2023 zcip's reading list. All rights reserved.
      </div>
    </div>
  </div>
</footer>
