---
import ToggleTheme from "./ToggleTheme.astro";
import LogoSvg from "../assets/images/logo.svg";
---

<style>
  .footer-links a {
    transition: 0.15s color cubic-bezier(0.4, 0, 0.2, 1);
  }
  :global(.dark) .logo {
    filter: invert(100%) sepia(1%) saturate(83%) hue-rotate(12deg)
      brightness(115%) contrast(100%);
  }
</style>

<footer class="sticky top-full dark:bg-neutral-900">
  <div class="max-w-4xl mx-auto py-4 px-2">
    <div class="grid sm:grid-cols-12 gap-8 border-t border-neutral-200 py-8">
      <div class="sm:col-span-12 md:col-span-6 flex gap-6 flex-col">
        <a href="/" aria-label="zcip's reading list">
          <img
            src={LogoSvg.src}
            alt=""
            class="logo w-full h-auto"
            width={LogoSvg.width}
            height={LogoSvg.height}
          />
        </a>
        <div>
          <ToggleTheme />
        </div>
      </div>
      <div class="footer-links sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p class="mb-2 font-medium text-neutral-600 dark:text-neutral-100">
          Links
        </p>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900 dark:text-neutral-300 dark:hover:text-neutral-400"
              href="https://zcip.dev">zcip.dev</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900 dark:text-neutral-300 dark:hover:text-neutral-400"
              href="https://twitter.com/zcip">Twitter</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900 dark:text-neutral-300 dark:hover:text-neutral-400"
              href="https://github.com/zcip">GitHub</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-links sm:col-span-6 md:col-span-3 lg:col-span-2">
        <p class="mb-2 font-medium text-neutral-600 dark:text-neutral-100">
          Meta
        </p>
        <ul class="text-sm">
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900 dark:text-neutral-300 dark:hover:text-neutral-400"
              href="/rss.xml">RSS</a
            >
          </li>
          <li class="mb-2">
            <a
              class="text-neutral-600 hover:text-neutral-900 dark:text-neutral-300 dark:hover:text-neutral-400"
              href="https://github.com/zcip/reading-list">GitHubレポジトリ</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="py-4 border-t border-neutral-200 md:flex md:items-center md:justify-between md:py-8"
    >
      <div class="text-sm ml-4 text-neutral-600 dark:text-neutral-400">
        © 2023 zcip's reading list. All rights reserved.
      </div>
    </div>
  </div>
</footer>
