---
import TitleSvg from "./TitleIcon.astro";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<header
  class="mb-4 py-20 bg-gradient-to-r from-pink-300 to-blue-500 bg-clip-padding fill-transparent dark:from-pink-500 dark:to-blue-700"
>
  <div class="pt-4 sm:flex sm:items-center sm:justify-center">
    <a href="/" aria-label={title}>
      <TitleSvg
        class="max-w-full h-full fill-black dark:fill-white"
        scale={6}
      />
    </a>
  </div>
</header>
