---
import { format } from "date-fns";
import type { CollectionEntry } from "astro:content";
import Tag from "./Tag.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<li class="grid gap-3 py-4 pl-8 pr-4 shadow-lg rounded-lg dark:bg-neutral-800">
  <a class="inline-flex" href={`/posts/${post.slug}/`}>
    <div
      class="post-card-title relative font-extrabold tracking-tighter leading-tight bg-clip-text bg-gradient-to-r from-pink-500 to-blue-500 text-transparent"
    >
      <span class="italic text-2xl block sm:inline">
        {format(post.data.pubDate, "Y/M/dd")}
      </span>
      <span class="text-2xl">{post.data.title}</span>
    </div>
  </a>
  <div class="text-neutral-900 dark:text-neutral-300 line-clamp-2">
    {post.data.description}
  </div>
  <ul class="flex gap-2">
    {post.data.tags.map((tag) => <Tag tag={tag} />)}
  </ul>
</li>

<style>
  .post-card-title:hover {
    background-size: 200% 200%;
    animation: bg-position-lr 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  .post-card-title:before {
    --size: 0.8rem;
    content: "";
    width: var(--size);
    height: var(--size);
    display: block;
    border-top: solid 5px rgba(150, 13, 123, 0.8);
    border-right: solid 5px rgba(252, 0, 202, 0.8);
    position: absolute;
    top: 25%;
    left: -1.725rem;
    transform: translateX(0%) rotate(45deg);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .post-card-title:hover:before {
    transform: translateX(100%) rotate(45deg);
    border-top-color: rgb(30, 41, 244);
    border-right-color: rgba(130, 1, 222);
  }

  @keyframes bg-position-lr {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
</style>
