---
export type Props = { tag: string };
const { tag } = Astro.props;
---

<li
  class="block shadow-sm p-2 text-neutral-600 bg-neutral-200 rounded-lg dark:bg-neutral-700 dark:text-neutral-100"
>
  <a href={`/tags/${tag}/`}>#{tag}</a>
</li>
