---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import TitleSvg from "../components/TitleIcon.astro";

const pageTitle = "zcip's Reading List";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header class="my-20">
      <div class="mt-4 sm:flex sm:items-center sm:justify-center">
        <a href="/">
          <TitleSvg class="w-[75%] sm:w=[100%] h-full" scale={6} />
        </a>
      </div>
    </header>
    <main class="flex-1 mx-auto w-3xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
