---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import TitleSvg from "../components/TitleIcon.astro";

const pageTitle = "zcip's Reading List";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="hero">
      <div class="title">
        <TitleSvg scale={6} />
      </div>
    </div>
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
