---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  frontmatter: CollectionEntry<"posts">['data']
}

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toDateString()}</p>
  <p><em>{frontmatter.description}</em></p>
  <slot />
</BaseLayout>
<style>
  a {
    color: #00539F;
  }

</style>