---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import "../styles/posts.css";
import { format } from "date-fns";

type Props = {
  frontmatter: CollectionEntry<"posts">["data"];
};

const { frontmatter } = Astro.props;
const isDraft = import.meta.env.DEV && frontmatter.isDraft;
const formatedDate = format(frontmatter.pubDate, "Y年M月dd日");
---

<BaseLayout>
  {
    isDraft && (
      <div
        style={{
          width: "100%",
          padding: "1rem 0.5rem",
          color: "red",
          background: "#666",
        }}
      >
        この投稿はまだドラフトです
      </div>
    )
  }
  <article class="md-post px-2">
    <header class="mb-8">
      <h1
        class="text-5xl grid font-extrabold tracking-tighter leading-tight bg-clip-text bg-gradient-to-r from-pink-500 to-blue-500 text-transparent break-words"
      >
        <span class="italic">{format(frontmatter.pubDate, "Y/M/dd")}</span>
        <span class="break-words">{frontmatter.title}</span>
      </h1>
      <div class="text-neutral-700 mb-4">{formatedDate}</div>
      <ul class="flex gap-1 flex-wrap pb-4 border-b">
        {
          frontmatter.tags.map((tag) => (
            <li class="block shadow-sm p-2 text-neutral-500 bg-neutral-200 rounded-lg">
              #{tag}
            </li>
          ))
        }
      </ul>
    </header>
    <slot />
  </article>
  <div class="my-8">
    <a href="/">Back to Home</a>
  </div>
</BaseLayout>
