---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import "../styles/posts.css";
import { format } from "date-fns";

type Props = {
  frontmatter: CollectionEntry<"posts">["data"];
};

const { frontmatter } = Astro.props;
const isDraft = import.meta.env.DEV && frontmatter.isDraft;
const formatedDate = format(frontmatter.pubDate, "Y年M月dd日");
---

<BaseLayout>
  {
    isDraft && (
      <div style={{ width: "100%", padding: "1rem 0.5rem", color: "red", background: "#666" }}>
        この投稿はまだドラフトです
      </div>
    )
  }
  <div class="post-header">
    <h1>{frontmatter.title}</h1>
    <span class="date">{formatedDate}</span>
  </div>
  <slot />
  <div style={{marginTop: '2rem'}}>
    <a href="/">Back to Home</a> 
  </div>
</BaseLayout>