---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import '../styles/posts.css'

type Props = {
  frontmatter: CollectionEntry<"posts">["data"];
};

const { frontmatter } = Astro.props;
const isDraft = import.meta.env.DEV && frontmatter.isDraft
---

<BaseLayout>
  {
    isDraft && (
      <div style={{ width: "100%", padding: "1rem 0.5rem", color: "red", background: "#666" }}>
        この投稿はまだドラフトです
      </div>
    )
  }
  <slot />
  <div style={{marginTop: '2rem'}}>
    <a href="/">Back to Home</a> 
  </div>
</BaseLayout>